Crear las siguientes variables.

* Una variable donde asignes el nombre de una película
* Una variable que contenga los primeros 4 decimales de PI
* Una variable que contenga la cantidad de mascotas que tienes

In [1]:
pelicula = 'Star Wars'

In [2]:
PI = 3.1416

In [89]:
mascotas = 0

Imprime los siguientes mensajes utilizando format de tal manera que el resultado sea parecido a lo siguiente:

```bash
La película que elegi es Harry Potter
````

```bash
El valor de pi es 3.1416
````

```bash
La cantidad de mascotas que tengo son 2
````

In [10]:
print(f"La película que elegí es {pelicula}")

La película que elegí es Star Wars

In [5]:
print(f"El valor de PI es {PI}")

El valor de PI es 3.1416

In [6]:
print(f"La cantidad de mascotas que tengo son {mascotas}")

La cantidad de mascotas que tengo son 0

Crea una tabla utilizando f strings donde salgan 3 empleos aleatorios, sus respectivos sueldos y el país donde radican.

In [83]:
empleos = ['programador', 'diseñador', 'ingeniero']
sueldos = [1000, 2000, 3000]
pais = ['Argentina', 'Brasil', 'Chile']

In [88]:
print(f"El {empleos[0]} trabaja en {pais[0]} y tiene un sueldo de {sueldos[0]}")
print(f"El {empleos[1]} trabaja en {pais[1]} y tiene un sueldo de {sueldos[1]}")
print(f"El {empleos[2]} trabaja en {pais[2]} y tiene un sueldo de {sueldos[2]}")

El programador trabaja en Argentina y tiene un sueldo de 1000
El diseñador trabaja en Brasil y tiene un sueldo de 2000
El ingeniero trabaja en Chile y tiene un sueldo de 3000

Desarrolla un programa donde pida 2 números y devuelva la suma, resta, multiplicación y división de los mismos.

In [15]:
numero1 = int(input("Dime un número: "))

In [16]:
numero2 = int(input("Dime otro número: "))

In [17]:
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2

In [90]:
print(f"{numero1} + {numero2} = {suma}")
print(f"{numero1} - {numero2} = {resta}")
print(f"{numero1} * {numero2} = {multiplicacion}")
print(f"{numero1} / {numero2} = {division}")

15 + 56 = 71
15 - 56 = -41
15 * 56 = 840
15 / 56 = 0.26785714285714285

Crea una lista con 4 colores y despues ejecuta las siguientes lineas de código:

In [25]:
colores = ["rojo", "verde", "azul", "amarillo"]

In [26]:
print(f"El color 0 es {colores[0]}")
print(f"El color 1 es {colores[1]}")
print(f"El color 2 es {colores[2]}")
print(f"El color 3 es {colores[3]}")

El color 0 es rojo
El color 1 es verde
El color 2 es azul
El color 3 es amarillo

Crea una lista con 4 ciudades y utilizando Slice, que aparezcan las 2 de enmedio

In [28]:
ciudades = ["New York", "Monterrey", "Guadalajara", "CDMX"]

In [29]:
print(ciudades[1:3])

['Monterrey', 'Guadalajara']

De nuestra lista de ciudades, imprime la ultima ciudad

In [30]:
print(ciudades[-1])

CDMX

Agrega los siguientes datos a tu lista de colores: "Morado", "Rosa"

In [31]:
colores.append("Morado")

In [32]:
colores.append("Rosa")

In [33]:
print(colores)

['rojo', 'verde', 'azul', 'amarillo', 'Morado', 'Rosa']

La siguiente lista contiene las alturas de 15 niños de cuarto grado, sacr el promedio de alturas.

In [35]:
alturas = [1.35, 1.56, 1.42, 1.22, 1.37, 1.23, 1.40, 1.25, 1.22, 1.37, 1.30, 1.15, 1.24, 1.31, 1.17]

In [37]:
promedio = sum(alturas) / len(alturas)
print(promedio)

1.304

Obten la altura mas chica del grupo

In [38]:
min(alturas)

1.15

Obten la altura más alta del grupo

In [39]:
max(alturas)

1.56

Crea un diccionario de perros, donde lleva 2 claves: Nombre y Raza

In [76]:
perro1 = {
    "Nombre": "Firulais",
    "Raza": "Pastor Alemán",
}

In [77]:
print(perro1)

{'Nombre': 'Firulais', 'Raza': 'Pastor Alemán'}

Agrega una clave llamada Edad a nuestro diccionario y asignale un valor

In [78]:
perro1["Edad"] = 3

In [79]:
print(perro1)

{'Nombre': 'Firulais', 'Raza': 'Pastor Alemán', 'Edad': 3}

Crea 2 diccionarios de perro más incluyendo el valor edad.

In [72]:
# Crea 2 diccionarios de perro incluyendo nombre, raza y edad
perro2 = {
    "Nombre": "Goofy",
    "Raza": "Beagle",
    "Edad": 2
}

perro3 = {
    "Nombre": "Bruno",
    "Raza": "Labrador",
    "Edad": 4
}

In [73]:
print(perro2)
print(perro3)

{'Nombre': 'Goofy', 'Raza': 'Beagle', 'Edad': 2}
{'Nombre': 'Bruno', 'Raza': 'Labrador', 'Edad': 4}

Crea una lista llamada mascotas y dentro de los corchetes, agrega los 3 diccionarios

In [81]:
# Crea una lista llamada "mascotas" agrega los diccionarios de perro a la lista
mascotas = [perro1, perro2, perro3]

In [82]:
print(mascotas)

[{'Nombre': 'Firulais', 'Raza': 'Pastor Alemán', 'Edad': 3}, {'Nombre': 'Goofy', 'Raza': 'Beagle', 'Edad': 2}, {'Nombre': 'Bruno', 'Raza': 'Labrador', 'Edad': 4}]