# Sesion 2

In [9]:
lista = ["Hola", "mi nombre es", "Joshue", "y estoy aprendiendo", "python"]

## Método join

El método join() de la clase string permite unir una lista de strings en una sola string.

In [10]:
"".join(lista) # Concatenar lista

'Holami nombre esJoshuey estoy aprendiendopython'

In [11]:
"/".join(lista) # Concatenar lista con una diagonal en lugar de un espacio

'Hola/mi nombre es/Joshue/y estoy aprendiendo/python'

In [13]:
" ".join(lista) # Concatenar lista con un espacio

'Hola mi nombre es Joshue y estoy aprendiendo python'

In [16]:
string = "¿Sabes? Yo también tengo algo de cientifico"

In [17]:
string.replace("cientifico", "programador") # Reemplazar una palabra por otra

'¿Sabes? Yo también tengo algo de programador'

In [18]:
string.split(" ") # Separar una cadena por un espacio

['¿Sabes?', 'Yo', 'también', 'tengo', 'algo', 'de', 'cientifico']

In [19]:
string.lower() # Pasar todo a minusculas

'¿sabes? yo también tengo algo de cientifico'

In [20]:
string.upper() # Pasar todo a mayusculas

'¿SABES? YO TAMBIÉN TENGO ALGO DE CIENTIFICO'

## Tuplas

Las tuplas son una forma de almacenar datos que no se pueden modificar.

In [28]:
equipos_futbol = ("Barcelona", "Real Madrid", "Valencia", "Sevilla", "Atletico Madrid")

In [22]:
equipos_futbol

['Barcelona', 'Real Madrid', 'Valencia', 'Sevilla', 'Atletico Madrid']

In [29]:
equipos_futbol[0] # Acceder a un elemento de la tupla

'Barcelona'

In [30]:
# Modificar un elemento de la lista
equipos_futbol[0] = "Tacos de canasta"

TypeError: 'tuple' object does not support item assignment

In [31]:
a = 20
b = 15
c = 30

numeros = a, b, c # Crear una tupla

In [32]:
numeros

(20, 15, 30)

In [33]:
type(numeros) # Saber que tipo de dato es

tuple

In [34]:
# Desempaquetar Tupla
coordenadas = (19.433, -99.133)

In [35]:
latitud, longitud = coordenadas # Desempaquetar

In [36]:
latitud

19.433

In [39]:
longitud

-99.133

In [43]:
frutas = ["Manzana", "Pera", "Naranja", "Uva"]

In [45]:
list(enumerate(frutas)) # Crear una lista con los indices y los elementos de la lista

[(0, 'Manzana'), (1, 'Pera'), (2, 'Naranja'), (3, 'Uva')]

In [46]:
desempaquetado = list(enumerate(frutas))

In [50]:
indice, elemento = desempaquetado[0]

In [48]:
indice

0

In [49]:
elemento

'Manzana'

## Conjuntos

Los conjuntos son una forma de almacenar datos que no se pueden modificar.

In [52]:
conjunto1 = {44, 17, 35, 28, 50}

In [53]:
conjunto1

{17, 28, 35, 44, 50}

In [54]:
numeros = [5, 7, 8, 6, 5, 8, 9, 3, 4, 9, 6]

In [55]:
set(numeros) # Crear un conjunto

{3, 4, 5, 6, 7, 8, 9}

In [56]:
conjunto1.add(50) # Agregar un elemento al conjunto

In [57]:
conjunto1

{17, 28, 35, 44, 50}

In [61]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8, 9}

In [62]:
a | b # Union de dos conjuntos

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
a & b # Intersección de dos conjuntos

{4, 5}

In [64]:
a - b # Diferencia de dos conjuntos

{1, 2, 3}

In [65]:
b - a # Diferencia de dos conjuntos

{6, 7, 8, 9}

In [66]:
a ^ b # Union exclusiva

{1, 2, 3, 6, 7, 8, 9}

## Condicionales

In [69]:
5 < 10 # Comparar si un numero es menor que otro

True

In [74]:
5 >= 5 # Comparar si un numero es mayor o igual que otro

True

In [70]:
20 > 45 # Comparar si un numero es mayor que otro

False

In [76]:
17 <= 20 # Comparar si un numero es menor o igual que otro

True

In [71]:
15 == 15 # Comparar si un numero es igual que otro

True

In [73]:
15 != 8 # Comparar si un numero es diferente que otro

True

### Tablas de verdad

Las tablas de verdad son una forma de representar condiciones en una lenguaje de programación.

| | | |
| --- | --- | --- |
|and | or | not|

In [78]:
# AND
True and True # True
True and False # False
False and False # False
False and True # False

False

In [80]:
# OR
True or True # True
True or False # True
False or False # False
False or True # True

True

In [81]:
# NOT
not True # False
not False # True

True

In [82]:
autos = ["Fiat", "Ford", "Chevrolet", "Toyota", "Honda"]

In [83]:
"Ford" in autos # Saber si un elemento esta en una lista

True

In [84]:
"Manzana" not in autos # Saber si un elemento no esta en una lista

True

#### Condicionales

In [85]:
num1 = 10

if num1 >= 0:
    print("El numero es positivo")
else:
    print("El numero es negativo")

El numero es positivo

### Actividad
Realizar un programa que reciba dos numeros y que imprima el mayor

In [89]:
num1 = int(input("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

In [91]:
if num1 > num2:
    print(f"{num1} es mayor que {num2}")
elif num1 < num2:
    print(f"{num1} es menor que {num2}")
elif num1 == num2:
    print(f"{num1} es igual que {num2}")

8 es menor que 35

### Función Range

In [92]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

La función range() permite crear una lista con un rango de números.

In [93]:
numeros_cuadrado = []

for i in range(len(numeros)):
    numeros_cuadrado.append(numeros[i] ** 2)

print(numeros_cuadrado)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [94]:
pokemones = ['Pikachu', 'Charmander', 'Squirtle', 'Bulbasaur', 'Pidgey', 'Rattata', 'Magikarp']

In [95]:
for pokemon in pokemones:
    print(pokemon)

Pikachu
Charmander
Squirtle
Bulbasaur
Pidgey
Rattata
Magikarp

In [96]:
list(enumerate(pokemones))

[(0, 'Pikachu'),
 (1, 'Charmander'),
 (2, 'Squirtle'),
 (3, 'Bulbasaur'),
 (4, 'Pidgey'),
 (5, 'Rattata'),
 (6, 'Magikarp')]

In [98]:
for indice, pokemon in enumerate(pokemones):
    print(f"El pokemon {pokemon} tiene el indice {indice}")

El pokemon Pikachu tiene el indice 0
El pokemon Charmander tiene el indice 1
El pokemon Squirtle tiene el indice 2
El pokemon Bulbasaur tiene el indice 3
El pokemon Pidgey tiene el indice 4
El pokemon Rattata tiene el indice 5
El pokemon Magikarp tiene el indice 6

In [100]:
autos = ["Tesla", "BMW", "Mercedes", "Audi"]
colores = ["Blanco", "Azul", "Rojo", "Morado"]

In [103]:
for i in range(len(autos)):
    print(f"El {autos[i]} es un {colores[i]}")

El Tesla es un Blanco
El BMW es un Azul
El Mercedes es un Rojo
El Audi es un Morado